Source: pop-system-updater
Section: admin
Priority: optional
Maintainer: Michael Aaron Murphy <mmstick@pm.me>
Build-Depends:
    cargo,
    just,
    rustc,
    libdbus-1-dev,
    libssl-dev,
    pkg-config,
    debhelper-compat (= 10),
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/system-updater

Package: pop-system-updater
Architecture: amd64 arm64
Depends:
  libcurl4,
  libssl3 | libssl1.1,
  ${misc:Depends},
  ${shlibs:Depends}
Description: Automatic System Updates for Pop!_OS

Package: libpop-system-updater-gtk
Architecture: amd64 arm64
Depends:
  libgtk-3-0
  ${misc:Depends},
  ${shlibs:Depends}
Description: GTK widget library for dynamic linking

Package: libpop-system-updater-gtk-dev
Architecture: amd64 arm64
Depends:
  libpop-system-updater-gtk,
  ${misc:Depends},
  ${shlibs:Depends}
Description: Development libraries for libpop-system-updater-gtk