#!/usr/bin/make -f

export sysconfdir = "/usr/share/"
export VENDOR ?= 1
export CLEAN ?= 1
export DESTDIR=debian/tmp

%:
	dh $@

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	make clean
endif
ifeq ($(VENDOR),1)
	ischroot || make vendor
endif

override_dh_auto_build:
	CARGO_HOME="$$(pwd)/target/cargo" make DESTDIR=$(DESTDIR)
