[Unit]
Requires=network.target
Description=Distribution updater

[Service]
Type=dbus
BusName=com.system76.SystemUpdater
ExecStart=/usr/bin/com.system76.SystemUpdater
Restart=on-failure
KillMode=process
SendSIGKILL=no

[Install]
WantedBy=network.target