[Unit]
Description=Local session service for the Pop System Updater
After=network-online.target
DefaultDependencies=no
StartLimitIntervalSec=1d

[Service]
Type=dbus
BusName=com.system76.SystemUpdater.Local
Restart=on-failure
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/pop-system-updater
StartLimitBurst=1

[Install]
Alias=pop-system-updater-local.service