[Unit]
Description=Local session service for the Pop System Updater
After=network-online.target
DefaultDependencies=no

[Service]
Type=dbus
BusName=com.system76.SystemUpdater.Local
Restart=always
ExecStart=/usr/bin/pop-system-updater

[Install]
WantedBy=default.target
Alias=pop-system-updater-local.service