[Unit]
After=network-online.target
Description=Distribution updater
DefaultDependencies=no
StartLimitIntervalSec=4h

[Service]
Type=dbus
BusName=com.system76.SystemUpdater
ExecStart=/usr/bin/pop-system-updater
Restart=on-failure
KillMode=process
SendSIGKILL=no
StartLimitBurst=3

[Install]
Alias=pop-system-updater.service